- error = @land.errors.key?(:code) && @land.errors[:code].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :code, :class => 'control-label'
  div class='controls'
    = f.text_field :code, :class => 'form-control input-large input-with-feedback', :autofocus => true
    span class='help-inline' = error ? f.error_message_on(:code, :class => 'text-error') : pat(:example)
- error = @land.errors.key?(:order) && @land.errors[:order].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :order, :class => 'control-label'
  div class='controls'
    = f.text_field :order, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:order, :class => 'text-error') : pat(:example)
- error = @land.errors.key?(:name) && @land.errors[:name].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :name, :class => 'control-label'
  div class='controls'
    = f.text_field :name, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)
- error = @land.errors.key?(:prefix) && @land.errors[:prefix].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :prefix, :class => 'control-label'
  div class='controls'
    = f.text_field :prefix, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:prefix, :class => 'text-error') : pat(:example)

div class="form-actions"
  = f.submit pat(:save), :class => 'btn btn-primary'
  |&nbsp;
  = f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  |&nbsp;
  = link_to pat(:cancel), url(:lands, :index), :class => 'btn btn-default'