ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:lands, :index)
  li = link_to tag_icon(:plus, pat(:new)), url(:lands, :new)
  li class="active" = link_to tag_icon(:edit, pat(:edit)), url(:lands, :edit, :id => @land.id)

div class="tabs-content"
  = form_for :land, url(:lands, :update, :id => @land.id), :method => :put, :class => 'form-horizontal' do |f|
    = partial 'lands/form', :locals => { :f => f }
