ul class="nav nav-tabs"
  li class="active" = link_to tag_icon(:list, pat(:list)), url(:lands, :index)
  li = link_to tag_icon(:plus, pat(:new)), url(:lands, :new)

div class="tabs-content"
  table class="table table-striped table-hover table-condensed" id="list"
    thead
      tr
        th class='header list-menu'
          div class='dropdown'
            a href='#' class='list-menu-toggle.dropdown-toggle dropdown-toggle' data-toggle='dropdown'
              = tag_icon :magic
              span class='caret'
            ul class='list-menu dropdown-menu' role='dropdown'
              li class='list-menu-wrapper' = link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              li class='list-menu-wrapper list-menu-wrapper-disabled' = link_to tag_icon('check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              li class='list-menu-divider divider'
              li class='list-menu-wrapper list-menu-wrapper-disabled'
                = link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                div class='list-menu-popover-delete-selected popover right'
                  div class='arrow'
                  h3 class='popover-title' = pat(:delete_selected_title)
                  div class='popover-content'
                    = form_tag url(:lands, :destroy_many), :method => :delete do
                      = hidden_field_tag :land_ids, :'data-delete-many-ids' => true
                      = submit_tag  pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      div class='btn btn-default btn-small cancel' = pat(:cancel)
        th class='header' = mat(:land, :id)
        th class='header' = mat(:land, :code)
        th class='header' = mat(:land, :order)
        th class='header' = mat(:land, :name)
        th class='header' = mat(:land, :prefix)
        th class='header list-row-action-header'

    tbody
      -@lands.each do |land|
        tr class='list-row'
          td class='list-column list-selectable' = check_box_tag 'land_ids[]', :value => land.id, :class => 'list-selectable-checkbox'
          td class='list-column' = land.id
          td class='list-column' = land.code
          td class='list-column' = land.order
          td class='list-column' = land.name
          td class='list-column' = land.prefix
          td class='list-column list-row-action'
            div class='list-row-action-wrapper'
              = link_to tag_icon(:edit), :href => url(:lands, :edit, :id => land.id), :rel => :tooltip, :title => "#{pat(:edit)} land", :class => 'list-row-action-wrapper-link'
              = link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} land", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              div class='popover list-row-action-popover-delete-one left'
                div class='arrow'
                h3 class='popover-title' = pat(:delete, :model => "land")
                div class='popover-content'
                  = form_tag url(:lands, :destroy, :id => land.id), :method => :delete do
                    = submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    div class='btn btn-default btn-small cancel' = pat(:cancel)
