ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:lands, :index)
  li class="active" = link_to tag_icon(:plus, pat(:new)), url(:lands, :new)

div class="tabs-content"
  = form_for :land, url(:lands, :create), :class => 'form-horizontal' do |f|
    = partial 'lands/form', :locals => { :f => f }
