<% form_tag("/tenki/update") do %>
メールアドレス:<%= email_field_tag :mail, :value => @mail %>
<%= tag :br %>
<%= select_tag :hour, :options => [["配信しない", -1]] + (0..23).to_a.map{|x| [x,x]}, :value => @hour %> 時に
<%= select_tag :land, :options => Land.all.map{|x|[x[:name], x[:id]]}, :value => @land_id %> の天気を配信
<%= tag :br %>
降水確率 <%= select_tag :rain_threshold, :options => (0..10).to_a.map{|x| [x*10,x*10]}, :value => @rain_threshold %> %以上のときメールを送る
<%= tag :br %>
<%= submit_tag "登録" %>
<% end %>
