- error = @weather.errors.key?(:year) && @weather.errors[:year].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :year, :class => 'control-label'
  div class='controls'
    = f.text_field :year, :class => 'form-control input-large input-with-feedback', :autofocus => true
    span class='help-inline' = error ? f.error_message_on(:year, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:month) && @weather.errors[:month].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :month, :class => 'control-label'
  div class='controls'
    = f.text_field :month, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:month, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:day) && @weather.errors[:day].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :day, :class => 'control-label'
  div class='controls'
    = f.text_field :day, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:day, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:hour) && @weather.errors[:hour].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :hour, :class => 'control-label'
  div class='controls'
    = f.text_field :hour, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:hour, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:weather) && @weather.errors[:weather].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :weather, :class => 'control-label'
  div class='controls'
    = f.text_field :weather, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:weather, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:rain0006) && @weather.errors[:rain0006].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :rain0006, :class => 'control-label'
  div class='controls'
    = f.text_field :rain0006, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:rain0006, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:rain0612) && @weather.errors[:rain0612].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :rain0612, :class => 'control-label'
  div class='controls'
    = f.text_field :rain0612, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:rain0612, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:rain1218) && @weather.errors[:rain1218].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :rain1218, :class => 'control-label'
  div class='controls'
    = f.text_field :rain1218, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:rain1218, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:rain1824) && @weather.errors[:rain1824].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :rain1824, :class => 'control-label'
  div class='controls'
    = f.text_field :rain1824, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:rain1824, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:mintemp) && @weather.errors[:mintemp].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :mintemp, :class => 'control-label'
  div class='controls'
    = f.text_field :mintemp, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:mintemp, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:maxtemp) && @weather.errors[:maxtemp].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :maxtemp, :class => 'control-label'
  div class='controls'
    = f.text_field :maxtemp, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:maxtemp, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:last_modified) && @weather.errors[:last_modified].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :last_modified, :class => 'control-label'
  div class='controls'
    = f.text_field :last_modified, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:last_modified, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:raw) && @weather.errors[:raw].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :raw, :class => 'control-label'
  div class='controls'
    = f.text_area :raw, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:raw, :class => 'text-error') : pat(:example)
- error = @weather.errors.key?(:land_id) && @weather.errors[:land_id].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :land_id, :class => 'control-label'
  div class='controls'
    = f.text_field :land_id, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:land_id, :class => 'text-error') : pat(:example)

div class="form-actions"
  = f.submit pat(:save), :class => 'btn btn-primary'
  |&nbsp;
  = f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  |&nbsp;
  = link_to pat(:cancel), url(:weathers, :index), :class => 'btn btn-default'