ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:weathers, :index)
  li = link_to tag_icon(:plus, pat(:new)), url(:weathers, :new)
  li class="active" = link_to tag_icon(:edit, pat(:edit)), url(:weathers, :edit, :id => @weather.id)

div class="tabs-content"
  = form_for :weather, url(:weathers, :update, :id => @weather.id), :method => :put, :class => 'form-horizontal' do |f|
    = partial 'weathers/form', :locals => { :f => f }
