ul class="nav nav-tabs"
  li class="active" = link_to tag_icon(:list, pat(:list)), url(:weathers, :index)
  li = link_to tag_icon(:plus, pat(:new)), url(:weathers, :new)

div class="tabs-content"
  table class="table table-striped table-hover table-condensed" id="list"
    thead
      tr
        th class='header list-menu'
          div class='dropdown'
            a href='#' class='list-menu-toggle.dropdown-toggle dropdown-toggle' data-toggle='dropdown'
              = tag_icon :magic
              span class='caret'
            ul class='list-menu dropdown-menu' role='dropdown'
              li class='list-menu-wrapper' = link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              li class='list-menu-wrapper list-menu-wrapper-disabled' = link_to tag_icon('check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              li class='list-menu-divider divider'
              li class='list-menu-wrapper list-menu-wrapper-disabled'
                = link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                div class='list-menu-popover-delete-selected popover right'
                  div class='arrow'
                  h3 class='popover-title' = pat(:delete_selected_title)
                  div class='popover-content'
                    = form_tag url(:weathers, :destroy_many), :method => :delete do
                      = hidden_field_tag :weather_ids, :'data-delete-many-ids' => true
                      = submit_tag  pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      div class='btn btn-default btn-small cancel' = pat(:cancel)
        th class='header' = mat(:weather, :id)
        th class='header' = mat(:weather, :year)
        th class='header' = mat(:weather, :month)
        th class='header' = mat(:weather, :day)
        th class='header' = mat(:weather, :hour)
        th class='header' = mat(:weather, :weather)
        th class='header' = mat(:weather, :rain0006)
        th class='header' = mat(:weather, :rain0612)
        th class='header' = mat(:weather, :rain1218)
        th class='header' = mat(:weather, :rain1824)
        th class='header' = mat(:weather, :mintemp)
        th class='header' = mat(:weather, :maxtemp)
        th class='header' = mat(:weather, :last_modified)
        th class='header' = mat(:weather, :raw)
        th class='header' = mat(:weather, :land_id)
        th class='header list-row-action-header'

    tbody
      -@weathers.each do |weather|
        tr class='list-row'
          td class='list-column list-selectable' = check_box_tag 'weather_ids[]', :value => weather.id, :class => 'list-selectable-checkbox'
          td class='list-column' = weather.id
          td class='list-column' = weather.year
          td class='list-column' = weather.month
          td class='list-column' = weather.day
          td class='list-column' = weather.hour
          td class='list-column' = weather.weather
          td class='list-column' = weather.rain0006
          td class='list-column' = weather.rain0612
          td class='list-column' = weather.rain1218
          td class='list-column' = weather.rain1824
          td class='list-column' = weather.mintemp
          td class='list-column' = weather.maxtemp
          td class='list-column' = weather.last_modified
          td class='list-column' = weather.raw
          td class='list-column' = weather.land_id
          td class='list-column list-row-action'
            div class='list-row-action-wrapper'
              = link_to tag_icon(:edit), :href => url(:weathers, :edit, :id => weather.id), :rel => :tooltip, :title => "#{pat(:edit)} weather", :class => 'list-row-action-wrapper-link'
              = link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} weather", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              div class='popover list-row-action-popover-delete-one left'
                div class='arrow'
                h3 class='popover-title' = pat(:delete, :model => "weather")
                div class='popover-content'
                  = form_tag url(:weathers, :destroy, :id => weather.id), :method => :delete do
                    = submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    div class='btn btn-default btn-small cancel' = pat(:cancel)
