ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:weathers, :index)
  li class="active" = link_to tag_icon(:plus, pat(:new)), url(:weathers, :new)

div class="tabs-content"
  = form_for :weather, url(:weathers, :create), :class => 'form-horizontal' do |f|
    = partial 'weathers/form', :locals => { :f => f }
