- error = @user.errors.key?(:mail) && @user.errors[:mail].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :mail, :class => 'control-label'
  div class='controls'
    = f.text_field :mail, :class => 'form-control input-large input-with-feedback', :autofocus => true
    span class='help-inline' = error ? f.error_message_on(:mail, :class => 'text-error') : pat(:example)
- error = @user.errors.key?(:hour) && @user.errors[:hour].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :hour, :class => 'control-label'
  div class='controls'
    = f.text_field :hour, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:hour, :class => 'text-error') : pat(:example)
- error = @user.errors.key?(:rain_threshold) && @user.errors[:rain_threshold].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :rain_threshold, :class => 'control-label'
  div class='controls'
    = f.text_field :rain_threshold, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:rain_threshold, :class => 'text-error') : pat(:example)
- error = @user.errors.key?(:land_id) && @user.errors[:land_id].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :land_id, :class => 'control-label'
  div class='controls'
    = f.text_field :land_id, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:land_id, :class => 'text-error') : pat(:example)

div class="form-actions"
  = f.submit pat(:save), :class => 'btn btn-primary'
  |&nbsp;
  = f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  |&nbsp;
  = link_to pat(:cancel), url(:users, :index), :class => 'btn btn-default'